<!DOCTYPE html>

<html>
    
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    	<div class="top" style="padding-top: -20px; margin-bottom: -55px">
        	<ul>
            	<li>
                     <p style="margin-bottom: 0px; height: 110px">
                    	
                     </p>
                </li>
                 <li style="text-align: left;">
                    <p style="text-align: justify">&nbsp;
                        </p>
                </li>
                
            </ul>
        </div>
        <div class="menu" style="padding-top: -15px; margin-top: -15px; margin-bottom:-15px">
             <ul>
                 <li><a href="@Url.Action("Index","MayLanh")">HOME</a></li>
                 @*<li><a href="@Url.Action("DangNhap","NguoiDung")">Đăng nhập</a></li>*@
                 <li><a href="@Url.Action("DangKy","NguoiDung")">Đăng ký</a></li>
                 <li><a href="@Url.Action("GioHang","GioHang")">Giỏ hàng</a></li>
                 
             </ul>
        </div>
        @Html.Action("ThuongHieu","MayLanh")
        <div style="height:780px">
            @RenderBody()
        </div>
        <br />
		<div class="footer">
        
        	<a href="#">HOME</a>
|           <a href="#">ABOUT US</a> | <a href="#">SERVICES</a>
|           <a href="#">NEWS &amp; EVENTS</a> | <a href="#">SUPPORT</a> | <a href="#">CONTACTS</a>
            <br>
                Copyright © Your Company Name. Designed by <a href="http://www.templateyes.com" target="_blank">TTT</a><br>
                Supported by <a href="http://www.ttt.com" target="_blank">Fit.hufi.edu.vn</a>
		
        </div>
    
</body>
</html>
